<!--The content below is only a placeholder and can be replaced.-->
<div class = "container">
  <div class="wrapper">
    <form>
    <div name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">test angular</h3>
      <img src="assets/img/esprit.jpg" class="img-responsive"alt="espritLogo" >
      <div class="bg-danger errorMsgDanger">{{ errormsg }} </div><br>

      <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus #username />
     <br>
      <input type="password" class="form-control" name="Password" placeholder="Password" required="" #pass />

      <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" (click)="checklogin(username.value , pass.value)">Login</button>
    </div>
  </form>
  </div>
</div>